

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Life+Savers:wght@400;700&family=Raleway:wght@900&display=swap');

*{
    font-family: "Raleway", sans-serif;   
}

p{
    font: 1.3rem "Life Savers", serif;
    margin-top: 0;
}

h1,h2,h3,h4{
    margin: 0;
    text-align: center;
}

h1{
    font-size: 4vw;

}

h2{   
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Acme', sans-serif;

}

h3{    
    font-size: 1.8rem;
    color: #9D0B0E;
    margin: 20px;
    font-family: 'Acme', sans-serif;
}

h4{
    font-size: 6rem;   
    font-family: 'Bangers', cursive;
    color: #F0A400;
}

/*ESTRUCTURA*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #f0f0f0;
}

.anchototal{
    background:  no-repeat top center;
    background-size: cover;
    color: white;
    text-shadow: 0 5px 6px black;
    padding: 20px;

}

.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


.config1{  
    float: left;
    width: 33.3%;
    padding: 30px;
}

.config2{  
    float: left;
    width: 66.6%;
    padding: 20px;
}

.config3{
    float: right;
    width: 25%;
    padding: 20px;
    border: 5px solid grey;
}


.config4{  
    float: left;
    width: 35%;
    padding: 10px;
    margin-left: 8%;
    margin-right: 4%;
    text-align: center;
}


img{
    width: 100%;
    border-radius: 50px;
}

video{

    width: 100%;
    margin:5% 10% 10% 0;
    border-radius: 10%;

}

.redonda{
    border-radius: 80%;
}

.parallax{
    background-attachment: fixed;
}

#vias{
    margin: 20px;
    margin-bottom: 50px

}

/*ELEMENTOS*/

header{

    background-image: url(inicio.jpg) !important;
    height: 80vh;
    padding-top: 60vh !important;

}


#capitulos{

    background-image: url(capitulo.jpg);
    padding-top: 5vh;
    margin: 40px 20px !important;
}


footer{

    background-image: url(fin.jpg) !important;
    height: 20vh;

}

footer h3{
    color: white;
}


/*BARRA DE NAVEGACION*/

nav{
    position: absolute;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0, 0.50) !important;
    text-align: right;
    padding: 10px !important;
}

nav2{
    position: absolute;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0, 0.20) !important;
    text-align: right;
    padding: 10px !important;
}



nav a, nav2 a{
    color: #F0A400;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 20px;

}



nav2 a:visited{

    color: #0DDAAC;
}

nav a:hover, nav2 a:hover{

    color: #FF3C21;
}

nav a:active, nav2 a:active{

    color: #BCFFAD;
}

nav2 a{

    font-family: sans-serif !important;
    font-weight: bold;
    font-size: 1.2rem;

}

.logo{
    width: 80px;
    margin-right: 900px;
    margin-top: 10px;
    filter: grayscale();

}

#flecha{
    width: 60px; 
    background:rgba(0,0,0, 0.30); 
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 40%;
    left: 2%;

}

.social img{

    background-color: white
}
.social img:hover{

    filter: sepia();
    background-color: black;

}
